ARQUTECTURA REST

APARTADO 1

Comando docker

docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=icaiSQL2019" -p 6789:1433 -d mcr.microsoft.com/mssql/server:2017-latest

1)

In [1]:
query_a = "SELECT DISTINCT fecha FROM bicimad "

2)

In [ ]:
query_b = "SELECT DISTINCT idunplug_base FROM bicimad"

3)

In [ ]:
query_c = "SELECT DISTINCT idplug_base FROM bicimad"

4)

In [ ]:
query_d = "SELECT * FROM bicimad WHERE fecha = '2019-01-06'"

5) base = slot

In [ ]:
query_e = "SELECT * FROM bicimad WHERE fecha = '2019-01-06' AND idunplug_station = 90"

6)

In [ ]:
query_6 = "SELECT * FROM bicimad WHERE fecha = '2021-07-05' AND idplug_station = 66"

7)

In [ ]:
query_7 = "SELECT * FROM bicimad WHERE fecha = '2019-01-06' AND idunplug_station = 90 AND idplug_station = 83"

8)

In [ ]:
query_8 = "SELECT * FROM bicimad WHERE fecha = '2019-01-06' AND idunplug_station = 90 AND idplug_station = 83 AND travel_time < 400"

9)

In [ ]:
query_9 = "INSERT INTO bicimad (fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time, Fichero) VALUES ('2022-03-04', 3, 90, 83, 10, 7, 300, 000000)"

#########################################

COGER Y MOSTRAR UN INSERT

In [12]:
import json
import pyodbc
import pandas as pd
query_b = "SELECT top 10 [fecha] FROM [bicimad]"
query_post = "INSERT INTO bicimad (fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time, Fichero) VALUES ('2023-03-04', 3, 1, 90, 83, 10, 7, 300, 000000);"
query = "SELECT * FROM bicimad WHERE fecha = '2019-01-06'"
server = '127.0.0.1,6789'
database = 'ssdd'
username = 'sa'
password = 'icaiSQL2019'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; \
                      SERVER='+server+';DATABASE='+database+'; \
                      UID='+username+';PWD='+password)

In [13]:
query = "INSERT INTO ssdd.dbo.bicimad (fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time, Fichero) VALUES ('2022-03-06', 3, 1, 90, 83, 10, 7, 300, 000000);"
#query = "SELECT * FROM bicimad WHERE fecha = '2023-03-04';"
df = cursor.execute(query)
cnxn.commit()
print('Rows inserted: ' + str(df.rowcount))

Rows inserted: 1

####################################

COGER Y MOSTRAR UN SELECT

In [18]:
import json
import pyodbc
import pandas as pd
query_b = "SELECT top 10 [fecha] FROM [bicimad]"
query_post = "INSERT INTO bicimad (fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time, Fichero) VALUES ('2023-03-04', 3, 1, 90, 83, 10, 7, 300, 000000);"
query = "SELECT * FROM bicimad WHERE fecha = '2019-01-06'"
server = '127.0.0.1,6789'
database = 'ssdd'
username = 'sa'
password = 'icaiSQL2019'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; \
                      SERVER='+server+';DATABASE='+database+'; \
                      UID='+username+';PWD='+password)
cursor=cnxn.cursor()
query = "SELECT * FROM bicimad WHERE fecha = '2019-01-06'"
df = cursor.execute(query)
#pd.DataFrame(df.fetchall(),columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])

########################################

PROGRAMA INTERFAZ

In [ ]:
!pip install Flask

In [ ]:
from flask import Flask, jsonify, request
import json
import pyodbc
import pandas as pd
from datetime import date
  
app = Flask(__name__)

query_a = "SELECT DISTINCT fecha FROM bicimad"
server = '127.0.0.1,6789'
database = 'ssdd'
username = 'sa'
password = 'icaiSQL2019'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; \
                      SERVER='+server+';DATABASE='+database+'; \
                      UID='+username+';PWD='+password)
cursor=cnxn.cursor()

# Pass the required route to the decorator.    
@app.route("/")
def index():
    return "BIENVENIDO AL SERVIVICIO REST PARA CONSULTAR INFORMACIÃ“N SOBRE EL SERVICIO DE BICICLETAS DE ALQUILER EN MADRID"

@app.route('/api/v1.0/data/cantidad-fechas',  methods=['GET'])
def getCantidadFechas():
    query = "SELECT DISTINCT fecha FROM bicimad"
    df = cursor.execute(query)
    
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/estaciones-origen',  methods=['GET'])
def getStartStations():
    query = "SELECT DISTINCT idunplug_base FROM bicimad"  
    df = cursor.execute(query)
    
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["idunplug_base"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/estaciones-destino',  methods=['GET'])
def getFinalStations():
    query = "SELECT DISTINCT idplug_base FROM bicimad"
    df = cursor.execute(query)
    
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["idplug_base"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-dia/<fecha>',  methods=['GET'])
def getDayMovement(fecha):
    # copiar y pegar esta url para comprobar --> si funciona
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-dia/2021-07-05
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ?", str(fecha))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-origen/<fecha>&<idunplug_station>',  methods=['GET'])
def getStations(fecha,idunplug_station):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-origen/2019-01-06&90 
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ? AND idunplug_station = ?",str(fecha),str(idunplug_station))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-inicio/<fecha>&<idplug_station>',  methods=['GET'])
def getMovementStart(fecha,idplug_station):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-destino/2019-01-06&90 
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ? AND idplug_station = ?",str(fecha),str(idplug_station))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-destino/<fecha>&<idplug_station>',  methods=['GET'])
def getMovementEnd(fecha,idplug_station):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-destino/2019-01-06&90 
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ? AND idplug_station = ?",str(fecha),str(idplug_station))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-inicio-destino/<fecha>&<idunplug_station>&<idplug_station>',  methods=['GET'])
def getMovementStartEnd(fecha,idunplug_station,idplug_station):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-destino/2019-01-06&90&83
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ? AND idunplug_station = ? AND idplug_station = ?",str(fecha),str(idunplug_station),str(idplug_station))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-inicio-destino-tiempo/<fecha>&<idunplug_station>&<idplug_station>&<travel_time>',  methods=['GET'])
def getMovementStartEndTime(fecha,idunplug_station,idplug_station,travel_time):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-inicio-destino-tiempo/2019-01-06&90&83&400
    df = cursor.execute("SELECT * FROM bicimad WHERE fecha = ? AND idunplug_station = ? AND idplug_station = ? AND travel_time < ?",str(fecha),str(idunplug_station),str(idplug_station),str(travel_time))
    rows = df.fetchall()
    data_frame = pd.DataFrame([list(row) for row in rows],columns=["fecha", "ageRange", "user_type", "idunplug_station", "idplug_station", "idunplug_base", "idplug_base", "travel_time", "Fichero"])
    return data_frame.to_html()

@app.route('/api/v1.0/data/movimientos-inicio-destino-tiempo/<fecha>&<ageRange>&<user_type>&<idunplug_station>&<idplug_station>&<idunplug_base>&<idplug_base>&<travel_time>',  methods=['GET'])
def putNewRow(fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time):
    # http://127.0.0.1:6789/api/v1.0/data/movimientos-inicio-destino-tiempo/2000-05-24&5&1&90&83&10&7&400
    
    df = cursor.execute("INSERT INTO bicimad (fecha, ageRange, user_type, idunplug_station, idplug_station, idunplug_base, idplug_base, travel_time, Fichero) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)", str(fecha), str(ageRange), str(user_type), str(idunplug_station), str(idplug_station), str(idunplug_base), str(idplug_base), str(travel_time),"000000")
    cnxn.commit()
    print('Rows inserted: ' + str(df.rowcount))
    print('To To get the inserted row execute getDayMovement()')
    return "Query executed succesfully. To get the inserted row execute getDayMovement()"

if __name__ == '__main__':
    app.run(port=6789)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:6789/ (Press CTRL+C to quit)
127.0.0.1 - - [07/Mar/2022 13:52:28] "GET /api/v1.0/data/movimientos-inicio-destino-tiempo/2000-05-24&5&1&90&83&10&7&400 HTTP/1.1" 200 -

Rows inserted: 1
To To get the inserted row execute getDayMovement()

127.0.0.1 - - [07/Mar/2022 13:52:32] "GET /api/v1.0/data/movimientos-dia/2000-05-24 HTTP/1.1" 200 -
127.0.0.1 - - [07/Mar/2022 13:52:33] "GET /api/v1.0/data/movimientos-dia/2000-05-24 HTTP/1.1" 200 -
127.0.0.1 - - [07/Mar/2022 13:52:34] "GET /api/v1.0/data/movimientos-dia/2000-05-24 HTTP/1.1" 200 -
127.0.0.1 - - [07/Mar/2022 13:52:34] "GET /api/v1.0/data/movimientos-dia/2000-05-24 HTTP/1.1" 200 -
127.0.0.1 - - [07/Mar/2022 13:52:34] "GET /api/v1.0/data/movimientos-dia/2000-05-24 HTTP/1.1" 200 -